.git
.next
node_modules
npm-debug.log
README.md
.env
.env.*
.dockerignore
Dockerfile
docker-compose.yml
**/dist
**/.turbo
**/.env.local
**/.env.*.local
**/coverage
**/.vscode
**/.idea
tmp
uploads/*
!uploads/.gitkeep 